<html>

<head>
<title>Formas|| Login Page</title>
</head>

<body>
<h1>Hi <%= name %></h1>
<h2><mark>Welcome To Login Page</mark>(Demo Only)</h2>
<hr>
<img src="shehab.jpg" width="200" align="left">
<!--using Input -->
<p> <b>Username:</b>  <input tpye="text" placeholder="Enter Your Username Here"> </p>
<p><b>Password:</b> <input placeholder="Password"> </p>
<p><input type="radio" name="gender"><b>Male</b> <input type="radio" name="gender"> <b>Female</b> </p>

<!--using Select "option" -->
<p><b>Select your Religion:</b>
    <select>
            
        <option>Muslim</option>
        <option>Hindu</option>
        <option>Others</option>
        
    </select>

</p>

<!--using Input "checkbox" -->
<p>Stay Loged in: <input type="checkbox" checked </p>

<!--using Input "submit" -->

<p> <input type="submit" value="Login"> </p>

<hr>

<p> <a href="https://www.facebook.com/"> <input type="submit" value="Facebook"> </a> </p>
<p> <a href="/index"> <input type="submit" value="Back to the main page"> </a> </p>


</body>

</html>
